body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ====== Removes margins from the paragraph and heading ========*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ====== Removes markers and margins from the list ========*/
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ======= Removes underlining in links ========*/
a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* ========= HEADER ========== */
.header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.link-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.link-logo-color {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}
.link-menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.height {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-container {
  display: flex;
  gap: 40px;
}
.link-contacts {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.link-menu:hover,
.link-menu:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

/* ========= HERO ========== */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  color: #fff;
  max-width: 496px;
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  min-width: 169px;
  color: #fff;
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #4d5ae5;
  padding: 16px 32px;

  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
}
.btn:hover,
.btn:focus {
  background: #404bbf;
}

/* ========= FEATURE ========== */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title,
.team-title,
.portfolio-title {
  /* Header 3 */
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.feature-text,
.team-text,
.portfolio-text {
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ========= TEAM ========== */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  /* Header 2 */
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100%-24 * 3) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-container-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ========= PORTFOLIO ========== */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-container-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  background: #fff;
  border-top: none;
}

/* ========= FOOTER ========== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-end {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  /* Body */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background: #2e2f42;
  width: 264px;
  margin-top: 16px;
}
